body{
    background-color: black;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-areas: 

    'timeString timeString timeString timeString'
    'todo face face weather'
    'reminders face face weather'
    'compliment compliment compliment compliment'
    ;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 20% 30% 30% 20%;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
    justify-content: center;
}

* {
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#face{
    grid-area: face;
    background-color: black;
    color: black;
    /* rotate: -90deg; */
    height: 60vh;
    position: relative;
    margin: 0%;
    width: 60vw;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 5%;
}

#compliment{
    grid-area: compliment;
    /* rotate: -90deg; */
    height: 10vh;
    position: fixed;
    bottom: 0%;
    margin: 0%;
    width: 100vw; 
    align-self: center;
    justify-self: center;
    text-wrap-style: balance;
    text-align: center;
    color: white;
}

#timeString{
    grid-area: timeString;
    /* rotate: -90deg; */
    align-self: center;
    font-size: 5vh;
    color: white;
    position: relative;
    width: max-content;
    justify-self: center;
}

#weather{
    grid-area: weather;
    /* rotate: -90deg; */
    width: 20vw;
    position: relative;
}

a {
    pointer-events: none;
}

#todo{
    grid-area: todo;
    /* rotate: -90deg; */
    height: 30vh;
    position: relative;
    margin: 0%;
    width: 20vw;
    align-self: center;
    justify-self: center;
    color: white;
}

th{
    height: 2vh;
    width: 20vw;
    margin: auto;
    font-weight: bold;
    color: white;
    border-color: white;
    border-width: 1px;
    border-bottom: solid;
}

hr{
    background-color: white;
    color: white;
    width: 20vw;

}

#reminders{
    grid-area: reminders;
    /* rotate: -90deg; */
    height: 30vh;
    position: relative;
    margin: 0%;
    width: 20vw;
    align-self: center;
    justify-self: center;
    color: white;
}

table{
    table-layout: fixed;
    width: 20vw;
}

li{
    margin-left: 1vw;
    margin-top: 0.5vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bullet{
    list-style-type: disclosure-closed;
}

.nobullet{
    list-style-type: none;
    margin-left: 5vw;
    margin-bottom: 0.5vh;
}
